Repository Offensive-AI-Con/OAIC-2025, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/examples, area/github, type/docs, type/core

.github/labeler.yaml:

---
# Area Labels
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/examples:
  - changed-files:
      - any-glob-to-any-file: "examples/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
      
# Documentation Labels
type/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "*.md"

# Core Files Labels
type/core:
  - changed-files:
      - any-glob-to-any-file: "CODEOWNERS"
      - any-glob-to-any-file: "LICENSE"
      - any-glob-to-any-file: "README.md"

docs: slight docs tweak in contributing
  .github/CONTRIBUTING.md
  .gitignore
  README.md
Labels: area/github, type/docs, type/core

fix: change generator in pr decorator
  .hooks/generate_pr_description.py
Labels: none

chore: tmp workflow test
  .github/workflows/rigging_pr_description.yaml
Labels: area/github

fix: accidental miss typo on secret
  .github/workflows/rigging_pr_description.yaml
Labels: area/github

Revert "chore: tmp workflow test"
  .github/workflows/rigging_pr_description.yaml
Labels: area/github

fix: error in readme as requires fork
  README.md
Labels: type/docs, type/core

fix: error in readme as requires fork
  README.md
Labels: type/docs, type/core

fix: error in workflow secret
  .github/workflows/rigging_pr_description.yaml
Labels: area/github

fix: error in workflow secret
  .github/workflows/rigging_pr_description.yaml
Labels: area/github

fix: error in workflow secret
  .github/workflows/rigging_pr_description.yaml
Labels: area/github

Uploaded slides
  media/slides/day-one/vic-fernandez-hades/slides.pdf
Labels: none

Uploaded slides (#3)
  media/slides/day-one/vic-fernandez-hades/slides.pdf
Labels: none

Add slides for "Sniffer Dog"
  media/slides/day-two/jimmy-maxim-snifferdog/slides.pdf
Labels: none

Add slides for "Sniffer Dog" (#5)
  media/slides/day-two/jimmy-maxim-snifferdog/slides.pdf
Labels: none

Add files via upload
  media/slides/day-two/kurtis-shelton-the-machine-that-hacks-back/Offensive AI Presentation.pdf
Labels: none

Add files via upload (#6)
  media/slides/day-two/kurtis-shelton-the-machine-that-hacks-back/Offensive AI Presentation.pdf
Labels: none

Add files via upload
  media/slides/day-one/Bahrami_AI is the New Nuclear_Speaker Notes.pdf
Labels: none

Add files via upload (#7)
  media/slides/day-one/Bahrami_AI is the New Nuclear_Speaker Notes.pdf
Labels: none

fix: dir for daria
  media/slides/day-two/daria-bahrami-the-new-nuclear/Bahrami_AI is the New Nuclear_Speaker Notes.pdf
Labels: none
